body{background-color: #26202D;}

.container {
    display: grid;
    justify-items: center;
}

textarea {
    color: white;
    width: 100%;
    border-radius: 6px;
    border: 2px solid #F7E98D;
    background-color: #26202D;
}

a {
    color: #F7E98D;
    font-family: "Dosis";
    cursor: pointer;
    text-decoration: none;
}

#out {
    display: grid;
}

#out div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

#out img {
    height: 300px;
    width: auto;
}

#out button {
    display: none;
}